.tcccbody {
  position: absolute !important;
  top: 80px;
  left: 80px;
  z-index: 2000;
  width: 320px !important;
  height: 144px !important;
  padding-left: 16px;
  background-color: #333;
  border-radius: 4px;
}

.title {
  height: 40px;
  color: #fff;
  line-height: 40px;
  border-bottom: 1px solid #222;
}

.phone {
  height: 59px;
  color: #fff;
  font-size: 20px;
  line-height: 59px;
}

.btnwidth {
  width: 88px;
}
