@import '@delon/theme/index';

.loginbody {
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-left: 50px;
  // background-image: url('../../../../../assets/loginbac.png');
  background-color: #40a9ff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.formbody{
  width: 420px;
  height: 423px;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 0 12px rgb(54 107 168 / 16%);
  opacity: 1;
}

.logintext{
  width: 112px;
  height: 37px;
  color: #111;
  font-weight: bold;
  font-size: 28px;
  line-height: 20px;
  opacity: 1;
}
